In [2]:
import pandas as pd
from train.save_bn import read_params, read_structure
from train.sampling import generate_synthetics, get_probability, sample
import seaborn as sns
import numpy as np
from copy import  copy
import time
import matplotlib.pyplot as plt
from libpgm.hybayesiannetwork import HyBayesianNetwork
#import langid

In [3]:
skel = read_structure('K2_bn_structure')
params = read_params('K2_bn_param')
final_bn = HyBayesianNetwork(skel, params)

In [4]:
# Если пользователь не задал ни возраст, ни пол
df = sample(final_bn)

In [5]:
df.head(10)

,activities_topic,age,has_high_education,relation,sbj_0_0,sbj_0_1,sbj_0_11,sbj_0_12,sbj_0_14,sbj_0_15,...,sbj_0_29,sbj_0_3,sbj_0_30,sbj_0_4,sbj_0_5,sbj_0_6,sbj_0_7,sbj_0_8,sex,names
0,no,40,0,0,0.049574,0.007178,0.070278,0.106530,0.020706,0.008450,...,0.000095,0.024163,0.002989,0.000258,0.068751,0.130992,0.159897,0.028385,2,Annoway
1,no,38,0,0,0.113692,0.071070,0.017722,0.024115,0.036002,0.038461,...,0.029468,0.023244,0.036989,0.047960,0.089099,0.030351,0.014118,0.008292,1,Amberkay
2,no,37,0,0,0.082770,0.165693,0.020466,0.048399,0.088280,0.075954,...,0.059808,0.030225,0.042549,0.020985,0.058916,0.046975,0.105755,0.050544,2,Boonghee
3,no,20,0,0,0.138606,0.030658,0.039856,0.067107,0.044580,0.058855,...,0.036543,0.007868,0.057485,0.019363,0.068707,0.042538,0.073629,0.017014,2,Namanguo
4,no,33,0,0,0.065249,0.046448,0.029284,0.065538,0.031041,0.112736,...,0.054974,0.053283,0.015432,0.007382,0.059973,0.005796,0.079401,0.036652,1,Orealla
5,no,33,0,0,0.076730,0.090619,0.033481,0.023563,0.048303,0.062443,...,0.019602,0.049152,0.024151,0.037950,0.031400,0.159213,0.012902,0.065754,2,Macasso
6,no,35,0,0,0.152143,0.073633,0.021753,0.068940,0.078467,0.033209,...,0.069279,0.065769,0.056999,0.000129,0.161021,0.064377,0.063218,0.005703,1,Bambahyay
7,no,38,0,0,0.059338,0.171750,0.049162,0.015641,0.034161,0.013336,...,0.053208,0.056776,0.032273,0.039610,0.001477,0.016789,0.038230,0.002100,1,Yolalah
8,no,58,0,4,0.071045,0.089037,0.005823,0.078423,0.007636,0.060606,...,0.051280,0.101268,0.019969,0.024482,0.100149,0.012755,0.039811,0.020555,1,Marnar
9,no,33,0,0,0.100556,0.183791,0.039621,0.041177,0.049397,0.069858,...,0.042599,0.029346,0.029334,0.010722,0.023091,0.037925,0.068774,0.029378,2,Modoobar

In [5]:
#Если задан только возраст
df1 = sample(final_bn, age = 'adult')
df1.head(10)

,relation,age,has_high_education,activities_topic,sex,sbj_0_15,sbj_0_25,sbj_0_29,sbj_0_4,sbj_0_8,...,sbj_0_6,sbj_0_12,sbj_0_22,sbj_0_16,sbj_0_5,sbj_0_3,sbj_0_26,sbj_0_1,sbj_0_11,names
0,4,33,0,no,1,0.056989,0.051781,0.036979,0.029961,0.019323,...,0.003766,0.171191,0.001365,0.007129,0.007636,0.003405,0.060225,0.171514,0.026587,Orrojoe
1,0,33,0,no,2,0.020851,0.110545,0.018540,0.009931,0.018954,...,0.075460,0.070236,0.003930,0.106686,0.027887,0.053826,0.002556,0.090180,0.045012,Mamonee
2,0,33,0,no,2,0.083634,0.063380,0.089300,0.000791,0.033567,...,0.031900,0.032368,0.018846,0.038036,0.126961,0.064760,0.067167,0.108752,0.035824,Ojachamah
3,4,33,0,no,2,0.055019,0.140012,0.012746,0.013916,0.066925,...,0.063181,0.079893,0.026462,0.117428,0.051177,0.086891,0.022774,0.055569,0.017707,Ebahday
4,0,33,0,no,1,0.114851,0.062141,0.055504,0.033020,0.037721,...,0.023426,0.096065,0.061467,0.010080,0.122256,0.025262,0.045778,0.101582,0.011283,Oquevimi
5,4,33,1,no,2,0.042138,0.048926,0.095375,0.006360,0.048868,...,0.003261,0.101343,0.102262,0.041282,0.018555,0.056789,0.079134,0.113466,0.014215,Ugoh
6,4,38,1,no,1,0.078053,0.024779,0.080227,0.009445,0.031529,...,0.011109,0.040522,0.094382,0.043027,0.060577,0.038884,0.064030,0.090375,0.010380,Oggooupaime
7,0,38,0,no,1,0.050199,0.063441,0.034799,0.027245,0.026125,...,0.100841,0.060658,0.019318,0.026705,0.060830,0.004244,0.001448,0.121385,0.018321,Acpano
8,0,38,0,no,2,0.072707,0.050134,0.046599,0.045453,0.021046,...,0.016329,0.054487,0.087355,0.023655,0.065878,0.036049,0.052347,0.101459,0.063469,Ambarroucar
9,4,38,0,no,1,0.075543,0.174216,0.010224,0.039699,0.029239,...,0.042533,0.057108,0.070841,0.017730,0.000685,0.031329,0.023327,0.076362,0.036443,Gaenay

In [6]:
#Если только пол задан
df2 = sample(final_bn, gender = 'Female')
df2.head(10)

,relation,age,has_high_education,activities_topic,sex,sbj_0_15,sbj_0_25,sbj_0_29,sbj_0_4,sbj_0_8,...,sbj_0_6,sbj_0_12,sbj_0_22,sbj_0_16,sbj_0_5,sbj_0_3,sbj_0_26,sbj_0_1,sbj_0_11,names
0,0,32,0,no,1,0.031075,0.056515,0.058794,0.014147,0.049456,...,0.001759,0.152390,0.087398,0.013985,0.153307,0.131803,0.039472,0.095957,0.063445,Waingkai
1,0,32,0,no,1,0.058036,0.115395,0.002481,0.006805,0.044400,...,0.049080,0.021371,0.004224,0.060719,0.029052,0.063290,0.018211,0.106797,0.046481,Moochu
2,0,43,0,no,1,0.067334,0.101351,0.027463,0.025997,0.020933,...,0.071229,0.007841,0.037138,0.018579,0.020245,0.090765,0.049515,0.136421,0.017225,Yenghey Monkey
3,0,33,0,no,1,0.131168,0.011391,0.003558,0.004736,0.046645,...,0.051729,0.054671,0.063445,0.031481,0.019951,0.041723,0.035012,0.094382,0.044481,Faesoko
4,0,45,0,no,1,0.164159,0.003595,0.026011,0.057484,0.011584,...,0.039948,0.067900,0.037128,0.029108,0.022323,0.016245,0.067496,0.076800,0.048471,Vuquele
5,0,38,0,no,1,0.090543,0.054989,0.016906,0.032894,0.005446,...,0.020158,0.034452,0.076623,0.025000,0.035291,0.014751,0.069331,0.005313,0.056619,Camgoe
6,0,40,0,no,1,0.027776,0.066203,0.053899,0.049617,0.018363,...,0.056969,0.054461,0.069279,0.023415,0.049837,0.053116,0.085762,0.062166,0.057727,Dallah
7,4,34,1,no,1,0.057935,0.032695,0.063368,0.033806,0.026746,...,0.022581,0.135923,0.049332,0.042646,0.019763,0.125632,0.064332,0.082112,0.042251,Yalahday
8,4,39,1,no,1,0.033017,0.007495,0.050720,0.023073,0.036129,...,0.018516,0.122722,0.060247,0.026236,0.038168,0.040028,0.004413,0.085124,0.026334,Barrie
9,0,50,0,no,1,0.086753,0.017343,0.071740,0.055194,0.018775,...,0.005673,0.038985,0.013757,0.012921,0.088753,0.040179,0.006023,0.057558,0.042959,Yasso

In [7]:
# Если зада и возраст, и пол
df3 = sample(final_bn, age='teen', gender = 'Male')
df3.head(10)

,relation,age,has_high_education,activities_topic,sex,sbj_0_15,sbj_0_25,sbj_0_29,sbj_0_4,sbj_0_8,...,sbj_0_6,sbj_0_12,sbj_0_22,sbj_0_16,sbj_0_5,sbj_0_3,sbj_0_26,sbj_0_1,sbj_0_11,names
0,0,19,0,no,2,0.107560,0.118420,0.042336,0.003356,0.025427,...,0.035156,0.055174,0.023208,0.063558,0.014746,0.019641,0.097357,0.123356,0.054429,Ogoocharwoe
1,0,19,0,no,2,0.107805,0.167187,0.027692,0.022660,0.048450,...,0.104553,0.081298,0.042621,0.140844,0.085109,0.023026,0.017123,0.099246,0.036686,Aggocah
2,0,19,0,no,2,0.044004,0.031992,0.033082,0.016652,0.024397,...,0.094093,0.112712,0.025390,0.006385,0.061606,0.068323,0.043752,0.110775,0.025104,Arkeyelay
3,0,19,0,no,2,0.024730,0.202491,0.036415,0.019187,0.016879,...,0.087916,0.041023,0.000320,0.019374,0.153431,0.077958,0.005709,0.056849,0.053546,Amoia
4,0,19,0,no,2,0.025947,0.191594,0.027934,0.031498,0.002032,...,0.056843,0.021903,0.017699,0.111630,0.054496,0.003163,0.019401,0.009997,0.013391,Tossee
5,7,19,0,no,2,0.139254,0.070061,0.019071,0.012909,0.020989,...,0.113776,0.056979,0.023619,0.173354,0.073287,0.042053,0.070884,0.024257,0.044108,Oloofar
6,0,19,0,no,2,0.201368,0.054331,0.030886,0.001497,0.011925,...,0.043295,0.052951,0.030155,0.083554,0.009081,0.032062,0.046738,0.071388,0.037733,Bahselee
7,0,19,0,sbj_0_23,2,0.156177,0.009441,0.059427,0.010975,0.070968,...,0.044885,0.114817,0.115361,0.044316,0.000658,0.089126,0.031904,0.097728,0.044852,Engon
8,4,19,0,no,2,0.180836,0.008814,0.002940,0.002955,0.008113,...,0.011196,0.126510,0.104575,0.115838,0.018807,0.121861,0.015633,0.050711,0.033442,Mukolah
9,0,19,0,no,2,0.126438,0.136964,0.010332,0.028614,0.012673,...,0.033696,0.031690,0.061388,0.114681,0.108768,0.037163,0.054547,0.152785,0.056366,Enecheke