In [22]:
import pandas as pd
from train.save_bn import read_params, read_structure
from train.sampling import generate_synthetics, get_probability, sample
import seaborn as sns
import numpy as np
from copy import  copy
import time
import matplotlib.pyplot as plt
from libpgm.hybayesiannetwork import HyBayesianNetwork

In [23]:
skel = read_structure('K2_bn_structure')
params = read_params('K2_bn_param')
final_bn = HyBayesianNetwork(skel, params)

In [24]:
# Если пользователь не задал ни возраст, ни пол
df = sample(final_bn)

In [25]:
df.head(10)

,relation,age,has_high_education,activities_topic,sex,sbj_0_15,sbj_0_25,sbj_0_29,sbj_0_4,sbj_0_8,...,sbj_0_7,sbj_0_6,sbj_0_12,sbj_0_22,sbj_0_16,sbj_0_5,sbj_0_3,sbj_0_26,sbj_0_1,sbj_0_11
0,1,44,0,no,1,0.025600,0.149981,0.007408,0.053084,0.045836,...,0.002639,0.040259,0.064238,0.043093,0.004932,0.121741,0.038347,0.031032,0.084825,0.033630
1,0,40,0,no,1,0.060934,0.092795,0.026102,0.005445,0.032454,...,0.078010,0.041296,0.129087,0.059912,0.007500,0.048617,0.068124,0.047530,0.011256,0.072783
2,0,41,0,sbj_0_13,2,0.044188,0.050925,0.013221,0.021588,0.023096,...,0.044936,0.006826,0.049554,0.113365,0.156368,0.107126,0.055663,0.040958,0.094433,0.024791
3,4,69,1,no,2,0.037782,0.088001,0.028890,0.001779,0.038065,...,0.107472,0.133262,0.054331,0.045106,0.001440,0.036313,0.107186,0.038251,0.009535,0.020196
4,4,59,1,sbj_0_24,2,0.108728,0.040766,0.029003,0.011422,0.038525,...,0.069096,0.004022,0.034332,0.038473,0.049392,0.025731,0.049349,0.136716,0.053842,0.062608
5,0,32,1,no,1,0.056158,0.024189,0.113084,0.031855,0.015813,...,0.038615,0.107068,0.142908,0.005942,0.005119,0.034649,0.108257,0.079206,0.065227,0.046703
6,0,31,0,no,2,0.049808,0.065367,0.048902,0.000560,0.014605,...,0.058432,0.042019,0.062439,0.057855,0.040402,0.038465,0.112918,0.057121,0.112735,0.064249
7,1,35,1,no,2,0.049792,0.078058,0.092923,0.017135,0.023488,...,0.024621,0.061222,0.013205,0.101637,0.019810,0.069851,0.068979,0.058489,0.013277,0.060914
8,0,28,0,no,1,0.068301,0.166203,0.035022,0.021715,0.017958,...,0.033747,0.153554,0.096481,0.008264,0.028485,0.052683,0.007211,0.021566,0.005480,0.056849
9,0,49,0,no,1,0.091614,0.130805,0.037095,0.034116,0.043856,...,0.024912,0.029978,0.055723,0.037524,0.038899,0.046717,0.068671,0.017656,0.131983,0.057810

In [26]:
#Если задан только возраст
df1 = sample(final_bn, age = 'adult')
df1.head(10)

,relation,age,has_high_education,activities_topic,sex,sbj_0_15,sbj_0_25,sbj_0_29,sbj_0_4,sbj_0_8,...,sbj_0_6,sbj_0_12,sbj_0_22,sbj_0_16,sbj_0_5,sbj_0_3,sbj_0_26,sbj_0_1,sbj_0_11,names
0,0,35,0,no,2,0.101811,0.104768,0.011875,0.023747,0.057566,...,0.005979,0.117493,0.014583,0.067973,0.099264,0.001710,0.007390,0.071628,0.091926,Colli
1,0,35,0,no,1,0.021855,0.008056,0.026206,0.019902,0.016204,...,0.027808,0.079468,0.016041,0.041842,0.030987,0.118667,0.051987,0.028889,0.020922,Quai
2,0,35,0,no,2,0.106149,0.006302,0.043991,0.028185,0.028308,...,0.091404,0.113632,0.085382,0.065545,0.099727,0.073919,0.010471,0.117147,0.013072,Ogueme
3,0,35,0,no,2,0.071485,0.100640,0.002178,0.001488,0.046014,...,0.035944,0.107076,0.040052,0.115101,0.152551,0.009338,0.010405,0.082350,0.042775,Vende
4,0,35,0,no,1,0.040669,0.066561,0.121476,0.016133,0.009596,...,0.011240,0.072690,0.027085,0.031360,0.027000,0.041004,0.030054,0.096429,0.047394,Maoh
5,0,35,0,no,2,0.095154,0.078749,0.008820,0.016413,0.068451,...,0.132418,0.072108,0.034785,0.033402,0.063944,0.105565,0.024119,0.033292,0.030742,Marena
6,0,35,0,no,1,0.111751,0.069073,0.032963,0.030019,0.013898,...,0.005750,0.154272,0.014484,0.008259,0.018573,0.064983,0.011116,0.082351,0.001665,Seeko
7,1,35,0,no,2,0.070311,0.011777,0.014903,0.013347,0.056524,...,0.060731,0.024765,0.046343,0.082589,0.041422,0.011605,0.064212,0.105735,0.023893,Ahsobah
8,0,35,0,no,2,0.042638,0.033657,0.012764,0.007160,0.052342,...,0.054276,0.074447,0.019110,0.019321,0.022419,0.010335,0.035421,0.126936,0.014862,Inga Mussame
9,0,35,0,no,2,0.005665,0.123964,0.020117,0.011795,0.012337,...,0.038176,0.021275,0.038680,0.046352,0.030138,0.009892,0.118293,0.152940,0.051980,Ahkelotong

In [27]:
#Если только пол задан
df2 = sample(final_bn, gender = 'Female')
df2.head(10)

,relation,age,has_high_education,activities_topic,sex,sbj_0_15,sbj_0_25,sbj_0_29,sbj_0_4,sbj_0_8,...,sbj_0_6,sbj_0_12,sbj_0_22,sbj_0_16,sbj_0_5,sbj_0_3,sbj_0_26,sbj_0_1,sbj_0_11,names
0,0,34,1,no,1,0.057971,0.052936,0.089428,0.020387,0.044374,...,0.045146,0.003579,0.002643,0.037683,0.059103,0.050378,0.032783,0.032760,0.023601,Mosee
1,0,40,0,no,1,0.097682,0.037973,0.001961,0.021829,0.017252,...,0.061444,0.156397,0.052490,0.023385,0.143871,0.030981,0.085193,0.093860,0.089130,Achigdee
2,0,39,0,no,1,0.095855,0.087072,0.006766,0.033515,0.024953,...,0.082489,0.056318,0.007231,0.008720,0.037191,0.076683,0.105854,0.160900,0.062187,Oyavi
3,0,39,0,no,1,0.014946,0.023344,0.050778,0.036249,0.022083,...,0.027628,0.089187,0.015532,0.013591,0.115347,0.110901,0.078954,0.033404,0.039521,Ducur
4,4,47,1,no,1,0.027438,0.095326,0.082942,0.032504,0.009690,...,0.093085,0.030926,0.034756,0.021947,0.038244,0.004091,0.084498,0.034783,0.056646,Eyongo
5,0,43,0,no,1,0.062386,0.003153,0.023345,0.028080,0.012629,...,0.083189,0.018620,0.076909,0.008073,0.034356,0.061235,0.010739,0.034064,0.006714,Loewarthoo
6,1,40,1,sbj_0_25,1,0.071676,0.056211,0.043938,0.026878,0.004251,...,0.045548,0.019352,0.080739,0.010036,0.089995,0.099948,0.027890,0.039629,0.035845,Boosa
7,0,29,0,no,1,0.049124,0.014734,0.052612,0.043644,0.022379,...,0.103760,0.014061,0.024051,0.010613,0.031714,0.050138,0.064952,0.025173,0.044957,Suri
8,0,24,0,no,1,0.074184,0.206589,0.013631,0.007753,0.006538,...,0.076356,0.040673,0.003634,0.042864,0.153276,0.032440,0.015228,0.039126,0.035467,Sunanna
9,0,34,0,no,1,0.036541,0.118039,0.017565,0.031919,0.019060,...,0.075218,0.056507,0.032962,0.000273,0.054049,0.030500,0.057088,0.136963,0.048735,Aboseqah

In [28]:
# Если зада и возраст, и пол
df3 = sample(final_bn, age='teen', gender = 'Male')
df3.head(10)

,relation,age,has_high_education,activities_topic,sex,sbj_0_15,sbj_0_25,sbj_0_29,sbj_0_4,sbj_0_8,...,sbj_0_6,sbj_0_12,sbj_0_22,sbj_0_16,sbj_0_5,sbj_0_3,sbj_0_26,sbj_0_1,sbj_0_11,names
0,0,19,0,no,2,0.105485,0.100335,0.014976,0.018727,0.012081,...,0.013992,0.077716,0.012224,0.002879,0.086228,0.042213,0.007437,0.020196,0.050648,Jungar
1,0,19,0,no,2,0.190909,0.088724,0.016311,0.016181,0.069545,...,0.049097,0.130369,0.202701,0.111823,0.055080,0.066949,0.079990,0.116191,0.041694,Guimi
2,0,19,0,no,2,0.187648,0.114164,0.003269,0.013241,0.014036,...,0.034743,0.069857,0.009435,0.100718,0.104650,0.043969,0.013105,0.057435,0.068719,Akarbar
3,0,19,0,no,2,0.089644,0.045254,0.098529,0.027193,0.022685,...,0.036449,0.052929,0.059851,0.071709,0.068408,0.064004,0.062765,0.088702,0.012482,Chomayfoo
4,0,19,0,no,2,0.017699,0.121617,0.017422,0.002156,0.021098,...,0.032607,0.031075,0.067659,0.092154,0.121811,0.115786,0.085399,0.010379,0.061009,Lahbohday
5,0,19,0,no,2,0.065240,0.049238,0.071321,0.000156,0.034436,...,0.036545,0.027104,0.021953,0.020490,0.011143,0.012727,0.030820,0.160531,0.019305,Ahbeno
6,0,19,0,no,2,0.087667,0.022668,0.015714,0.019179,0.017355,...,0.000204,0.025941,0.105834,0.030805,0.031936,0.007551,0.049636,0.008313,0.041402,Ballomi
7,4,19,0,no,2,0.073983,0.046456,0.015569,0.027832,0.081067,...,0.005578,0.113008,0.036348,0.063980,0.016669,0.027204,0.012178,0.022718,0.018074,Dandu
8,0,19,0,no,2,0.135101,0.143405,0.003917,0.002727,0.017048,...,0.004954,0.022704,0.014537,0.064087,0.000202,0.016602,0.033370,0.016758,0.046479,Wang
9,4,19,0,no,2,0.061180,0.068870,0.127706,0.012359,0.013808,...,0.031635,0.051802,0.080686,0.049922,0.073019,0.023261,0.116321,0.082874,0.041076,Waneboy